html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: x-large;
    background-color: rgb(90, 84, 76);
    color: rgb(255, 255, 255);
    }
    h1 {
        font: bold, italic;
        }
        .sub {
            font: italic;
            font-size: small;
        }
a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(248, 144, 144);
    background-color: transparent;
    text-decoration: none;
  }
.center_drop {
    
}
body {
    padding: 15%;
    word-break: normal;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: hidden 2px solid;
    padding: 40px 5px 40px 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    hyphens: auto;
}